<section class="card register"> 
  <form name="myform" novalidate ng-submit='register()'>

    <div class="textintro">
      <h1>Login</h1><br>
      <p>Please fill out the following form</p>
    </div>

    <fieldset>
      <input type="text" name="firstname" 
        placeholder="First Name"
        ng-model="user.firstname" ng-required="true">
        <p ng-show="myform.firstname.$invalid && myform.firstname.$touched">
          You must fill out your first name.</p>

      <input type="text" name="lastname"
        placeholder="Last Name"
        ng-model="user.lastname" ng-required="true">
        <p ng-show="myform.lastname.$invalid && myform.lastname.$touched">
          You must fill out your last name.</p>

      <input type="email" name="email"
        placeholder="Email"
        ng-model="user.email" ng-required="true">
        <p ng-show="myform.email.$invalid && myform.email.$touched">
          This must be a valid email.</p>

      <input type="password" name="password"
        placeholder="Password"
        ng-model="user.password" ng-required="true" ng-minlength='6'>
        <p ng-show="myform.password.$invalid && myform.password.$touched">
          Password must be a at least 6 characters.</p>
    </fieldset>

    <button ng-show="myform.firstname.$valid && myform.lastname.$valid && myform.email.$valid && myform.password.$valid" type="submit" class="btn">Submit</button>
  </form>
</section>